@import "~@mdanka/glass-ui/lib/scss/variables.scss";

.hp-table-of-contents-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;

  a {
    display: inline;
    margin: 0 5px;
  }
}

.hp-content-paragraph {
  padding: 8px 0;
  font-size: 16px;
  line-height: 1.5;

  ul, ol {
    margin: 10px 0;
    padding-left: 30px;
  }

  ul li:not(:last-child), ol li:not(:last-child) {
    margin-bottom: 5px;
  }
}

.hp-content-paragraph-small {
  font-size: 14px;
}

.hp-content-paragraph-full-width {
  width: 100%;
}

a, a:hover, a:active, a:visited {
  color: $glassAccentColor;
}

.hp-anchor {
  color: $glassAccentColor;

  &:hover {
    text-decoration: underline;
  }
}

.hp-app {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  .hp-app-talks-list {
    padding-top: 1em;
  }
}
