@import "../shared";

.hp-content-paragraph {
  padding: 8px 0;
  font-size: 16px;
  line-height: 1.5;
}

.hp-content-paragraph-small {
  font-size: 14px;
}

.hp-content-paragraph-full-width {
  width: 100%;
}

a, a:hover, a:active, a:visited {
  color: @accentColour;
}

.hp-anchor {
  color: @accentColour;

  &:hover {
    text-decoration: underline;
  }
}

.hp-app {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  .hp-app-talks-list {
    padding-top: 1em;
  }
}
