@import "../shared";

.hp-collapse-block {
  .hp-collapse-block-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-shrink: 0;

    margin: 0;
    padding: 1em;

    background-color: fadeout(@mainColour, 90%);
    color: @mainColour;

    cursor: pointer;

    line-height: 1.25em;

    &:hover {
      background-color: fadeout(@mainColour, 80%);
    }

    .hp-collapse-block-toggle {
      margin: 0 1em 0 0;
    }
  }
}
