@import "../shared";

.hp-overview-section {
  margin-top: 3em;
  text-align: center;

  .hp-overview-name {
    color: @mainColour;
    font-size: 40px;
    margin: 0 0 10px 0;
    line-height: 32px;
    font-weight: 600;
  }

  .hp-overview-phonetics {
    font-size: 12px;
    color: @subtleTextColour;
  }

  .hp-overview-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    font-size: 16px;
    margin-top: 2em;

    a {
      margin: 0 0.75em 0 0.75em
    }
  }
}
