@import "~normalize.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/core/lib/less/variables.less";

@import "components/index";

.hp-image-inline{
    max-width: 20%;
    min-width: 140px;
}

.hp-image-left {
    float: left;
    margin: 0 20px 20px 0;
}

/*MEDIA QUERIES*/

html {
    width: 350px;
}

@media (min-width: 576px) {
    html {
        width: 540px;
    }
}

@media (min-width: 768px) {
    html {
        width: 720px;
    }
}

//html {
//  background-color: white;
//}
//
//body {
//  margin: 0;
//}
//
//#app {
//  //width: 100%;
//}
//
//.homepage-app {
//  display: flex;
//  flex-direction: column;
//  align-items: stretch;
//
//  .section {
//    margin: 50px 60px 0 60px;
//  }
//
//  .section-header {
//    color: @dark-gray1;
//    border-bottom-style: solid;
//    border-bottom-width: 2px;
//    border-color: @gray5;
//    margin-bottom: 15px;
//    padding-bottom: 5px;
//  }
//
//  .section-description {
//    margin-bottom: 20px;
//  }
//
//  .section-overview {
//    margin-top: 60px;
//
//    .overview-name {
//      color: @dark-gray3;
//    }
//
//    .overview-phonetics {
//      font-size: @pt-font-size-small;
//      color: @gray1;
//    }
//
//    .overview-links {
//      display: flex;
//      flex-direction: row;
//      align-items: center;
//      font-size: @pt-font-size-large;
//      margin-top: 30px;
//      flex-wrap: wrap;
//
//      a {
//        margin-right: 20px;
//      }
//    }
//  }
//
//  .section-talks {
//    //border: solid 1px;
//    //background-color: @light-gray5;
//    //border-radius: 5px;
//    //padding: 20px;
//  }
//}
//
////.item-body {
////  padding: 0 20px 20px 20px;
////
////  .item-description {
////    margin-top: 20px;
////    p {
////      margin-bottom: 5px;
////    }
////  }
////}
//
//a {
//  &:link {
//    color: @blue2;
//  }
//
//  &:visited {
//    color: @blue2;
//  }
//
//  &:hover {
//    color: @blue4;
//  }
//
//  &:active {
//    color: @blue1;
//  }
//}
//
//
//
/////*MEDIA QUERIES*/
////
////@media (max-width: 768px) {
////  .mobile-disappear {
////    display: none;
////  }
////  .mobile-reappear {
////    display: block;
////  }
////  body {
////    padding: 0 1em 0 1em;
////    margin: 3em 1em 0em 1em;
////  }
////}
////
////@media (max-height: 550px) {
////  .mobile-disappear {
////    display: none;
////  }
////  .mobile-reappear {
////    display: block;
////  }
////  body {
////    padding: 0 1em 0 1em;
////    margin: 3em 1em 0em 1em;
////  }
////}
////
////@media (max-height: 820px) {
////  .smallscreen-disappear {
////    display: none;
////  }
////}
////
////@media (max-height: 620px) {
////  .verysmallscreen-disappear {
////    display: none;
////  }
////}
////
////@media (max-width: 425px) {
////  body {
////    margin-left: 0.5em;
////    margin-right: 0;
////
////    font-size: 1em;
////  }
////
////  #menuToggle {
////    margin-left: 0;
////    left: 1.8em;
////    top: 2em;
////  }
////}
